Title- To study Sets and Dictionaries in Python

In [8]:
# Creation of Set
thisset = {"cat", "dog", "mouse"}
print(thisset) #it is unordered

{'mouse', 'dog', 'cat'}

In [13]:
#Duplicates not allowed
thisset = {"cat", "dog", "mouse", "cat"}
print(thisset)

{'mouse', 'dog', 'cat'}

In [14]:
# the values true and 1 are considerted the same value in sets
thisset = {"cat", "dog", "mouse", True, 1, 2}   #same for 0 and false
print(thisset)

{True, 2, 'cat', 'mouse', 'dog'}

In [15]:
# A set with strings, integers and boolean values:
set1 = {"arnav", 67, True, 41, "male"}
print(set1)

{True, 'arnav', 67, 'male', 41}

In [16]:
# To check membership
set = {"arnav", 67, True, 41, "male"}
print("arnav" in set)
print(61 in set)

True
False

In [18]:
# You cannot replace the items in a set once its created
# But you can add new items
set = {"arnav", 67, True, 41, "male"}
set.add("mango")
set.remove("arnav")
print(set)

{True, 67, 'male', 'mango', 41}

In [19]:
#Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)
print(A & B)
print(A - B)
print(A ^ B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [23]:
#Frozenset
x=frozenset([1,2,3,4])
# x.add("skibidi") gives error
print(x)
print(type(x))

frozenset({1, 2, 3, 4})
<class 'frozenset'>

Problem Statement 1: Unique Event Participants
A college event has a list of student who registered multiple times by mistake.
Write a program using set to store participant names and display only unique participants

In [35]:
participants = ["Alice", "Bob", "Charlie", "Alice", "David", "Bob", "dhvan", "arjit", "john"]

unique_participants = set(participants)
print("Unique Participants:", unique_participants)

Unique Participants: {'Bob', 'arjit', 'David', 'Alice', 'dhvan', 'john', 'Charlie'}

Probelm Statement 2: Three students choose elective subjects.
Find the common subjects chosen by all students using set operations.
Concept Used: Set intersection(&)

In [40]:
student1 = {"chemistry", "physics", "biology", "maths", "history"}
student2 = {"fine_arts", "physics", "maths", "geology", "english"}
student3 = {"chemistry", "fine_arts", "physics", "maths", "english", "history"}
print("common subjects:", student1 & student2 & student3)

common subjects: {'physics', 'maths'}