#Loops
###Arnav Pandey
###PRN-25070123023

#while-continue
- continue skips the remaining ststaements of the current iteration and jumps back to the while condition

In [ ]:
#Print numbers from 1 to 10 (skip 5)

i = 1
while i <= 10:
    if i == 6: #skips 5 in the loop
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
5
7
8
9
10

In [ ]:
#Print only odd numbers (1 to 10)

i = 1
while i <= 10:
    if i % 2 == 0:
      i+= 1
      continue
    print(i)
    i+=1

1
3
5
7
9

In [ ]:
#Skip negative numbers from a list

nums = [6,7,5,-6,-4,-1,1]
i = 0

# For Loops
- A for loop is used to repeat a block of code for element in a sequence (like range,list,string).

In [ ]:
#print numbers from 1 to 5

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#Print even numbers from 1 to 10
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
#Sum of first N numbers

n= int(input("Enter a number: "))
sum = 0
for i in range(1,n+1):
  sum += i
print("Sum =", sum)

Enter a number: 22222
Sum = 246919753

In [ ]:
#Nested for loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#3x3 matrix display
A = [[1,2,3],
      [4,5,6],
      [7,8,9]]

for i in range(3):
  for j in range(3):
      print(A[i][j], end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Multiplication of Two 3x3 Matrices (most important)
A= [[1,2,3],[4,5,6],[1,2,1]]
B= [[1,1,1],[6,5,4],[3,2,1]]

Result = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]

print("Product of matrices:")
for row in Result:
    print(row)

Product of matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]