# Arnav Pandey
# PRN = 25070123023

Title- To study Sets and Dictionaries in Python

In [ ]:
# Creation of Set
thisset = {"cat", "dog", "mouse"}
print(thisset) #it is unordered

{'mouse', 'dog', 'cat'}

In [ ]:
#Duplicates not allowed
thisset = {"cat", "dog", "mouse", "cat"}
print(thisset)

{'mouse', 'dog', 'cat'}

In [ ]:
# the values true and 1 are considerted the same value in sets
thisset = {"cat", "dog", "mouse", True, 1, 2}   #same for 0 and false
print(thisset)

{True, 2, 'cat', 'mouse', 'dog'}

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"arnav", 67, True, 41, "male"}
print(set1)

{True, 'arnav', 67, 'male', 41}

In [ ]:
# To check membership
set = {"arnav", 67, True, 41, "male"}
print("arnav" in set)
print(61 in set)

True
False

In [ ]:
# You cannot replace the items in a set once its created
# But you can add new items
set = {"arnav", 67, True, 41, "male"}
set.add("mango")
set.remove("arnav")
print(set)

{True, 67, 'male', 'mango', 41}

In [ ]:
#Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)#Union
print(A & B)#Intersection
print(A - B)#Difference
print(A ^ B)#Symmetric Difference

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [ ]:
#Frozenset
x=frozenset([1,2,3,4])
# x.add("skibidi") gives error
print(x)
print(type(x))

frozenset({1, 2, 3, 4})
<class 'frozenset'>

Problem Statement 1: Unique Event Participants
A college event has a list of student who registered multiple times by mistake.
Write a program using set to store participant names and display only unique participants

In [ ]:
participants = ["Alice", "Bob", "Charlie", "Alice", "David", "Bob", "dhvan", "arjit", "john"]

unique_participants = set(participants)
print("Unique Participants:", unique_participants)

Unique Participants: {'Bob', 'arjit', 'David', 'Alice', 'dhvan', 'john', 'Charlie'}

Probelm Statement 2: Three students choose elective subjects.
Find the common subjects chosen by all students using set operations.
Concept Used: Set intersection(&)

In [ ]:
student1 = {"chemistry", "physics", "biology", "maths", "history"}
student2 = {"fine_arts", "physics", "maths", "geology", "english"}
student3 = {"chemistry", "fine_arts", "physics", "maths", "english", "history"}
print("common subjects:", student1 & student2 & student3)

common subjects: {'physics', 'maths'}

Problem statement 3: One set contains students in the Cricket Club another in football club
find students who are: 1. In both clubs 2. In only one club

Concept Used: Intersection, Symmetric difference

In [ ]:
cricket = {"amey", "raj", "raju", "aman", "jai", "dhvan","virat" }
football ={"aditya", "virat", "rohit", "dhvan", "kapil"}
#Intersection
print("Students in both clubs:", cricket & football)
#Symmetric Difference
print("Students in only one club:", cricket ^ football)

Students in both clubs: {'dhvan', 'virat'}
Students in only one club: {'jai', 'kapil', 'amey', 'rohit', 'aditya', 'aman', 'raj', 'raju'}

Problem Statement 4: Absent students
Given a set all students and a set of present students, find the absent students.

Concept used: Set difference (-)

In [40]:
all_students = {"A", "B", "C", "D", "E"}
present_students = {"A", "C", "E"}

absent_students = all_students - present_students

print("All students:", all_students)
print("Present students:", present_students)
print("Absent students:", absent_students)

All students: {'B', 'C', 'E', 'A', 'D'}
Present students: {'E', 'A', 'C'}
Absent students: {'B', 'D'}

Problem Statement 5: Remove invalid entries. A set contains valid course code. Remove a discontinued course code from the set

Concept used: remove()/discard()

In [41]:
valid_courses = {"CS101", "MA201", "PH301", "BI401", "CH501"}
discontinued_course = "PH301"

print("Original valid courses:", valid_courses)

valid_courses.remove(discontinued_course)

print("Valid courses after removing", discontinued_course + ":", valid_courses)

valid_courses.discard("AR101")
print("Valid courses after trying to discard non-existent AR101:", valid_courses)

valid_courses.discard("CS101")
print("Valid courses after discarding CS101:", valid_courses)

Original valid courses: {'CS101', 'PH301', 'BI401', 'MA201', 'CH501'}
Valid courses after removing PH301: {'CS101', 'BI401', 'MA201', 'CH501'}
Valid courses after trying to discard non-existent AR101: {'CS101', 'BI401', 'MA201', 'CH501'}
Valid courses after discarding CS101: {'BI401', 'MA201', 'CH501'}

# Dictionary

In [2]:
#Creation of Dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [3]:
#Retriving values from Dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

Ford

In [4]:
#Dictionary takes latest value given for key, It will not allow duplicates
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [9]:
# Length of key-value pairs
len(thisdict)
print(len(thisdict))
print(type(thisdict))

3
<class 'dict'>

In [15]:
# Changing/Adding key: value in dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["colour"] = "red"
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, 'red'])

In [20]:
# Retrival of values
student ={
    "roll" : '23',
    "name" :"Arnav",
    "branch" : "ENTC"
}
print("name:", student["name"])
print("branch:", student["branch"])

name: Arnav
branch: ENTC

In [22]:
#Adding and updating Elements
student["year"] = "First"
print(student)
student["name"] = "skibidi"
print(student)

{'roll': '23', 'name': 'Arnav', 'branch': 'ENTC', 'year': 'First'}
{'roll': '23', 'name': 'skibidi', 'branch': 'ENTC', 'year': 'First'}

In [23]:
# Removing Elements
student.pop("year")
print("After removal:", student)

After removal: {'roll': '23', 'name': 'skibidi', 'branch': 'ENTC'}

1. A dictionary stores product names and their prices.

- write a python program to update the price of a given product.

In [24]:
thisdict = {
    "apple": 1.50,
    "banana": 0.75,
    "orange": 1.20
}
print("Original dictionary:", thisdict)

# Update the price of a product
product_to_update = "apple"
new_price = 1.75
thisdict[product_to_update] = new_price

print("Updated dictionary:", thisdict)

Original dictionary: {'apple': 1.5, 'banana': 0.75, 'orange': 1.2}
Updated dictionary: {'apple': 1.75, 'banana': 0.75, 'orange': 1.2}

2. A dictionary stores student names and marks
- Write a python program to search for a student's marks using the name entry
- If the student is not found, display a suitable message.

In [32]:
student_marks = {
    "A": 85,
    "B": 92,
    "C": 78,
    "D": 95,
    "E": 88
}

search_name = input("Enter the student's name to search for marks: ")

if search_name in student_marks:
    print(f"{search_name}'s marks: {student_marks[search_name]}")
else:
    print(f"Student '{search_name}' not found in the record.")

Enter the student's name to search for marks: A
A's marks: 85

In [29]:
student_marks = {
    "A": 85,
    "B": 92,
    "C": 78,
    "D": 95,
    "E": 88
}

search_name = input("Enter the student's name to search for marks: ")
print(student_marks.get(search_name, "Student not found"))

Enter the student's name to search for marks: 3
Student not found

3. A dictionary stores usernames and passwords.
- Write a python program to validate user login

In [36]:
usernames_passwords = {
    "user1": "password1",
    "user2": "password2",
    "user3": "password3"
}

username_input = input("Enter your username: ")
password_input = input("Enter your password: ")

stored_password = usernames_passwords.get(username_input)

if stored_password == password_input:
    print("Login successful!")
else:
    print("Invalid username or password.")

Enter your username: user1
Enter your password: password1
Login successful!

4. A dictionary stores student names and marks
- Write a Python program to find the student who scored the highest marks

In [37]:
marks = {"A": 85, "B": 92, "C": 78, "D": 95, "E": 88}
topper = max(marks, key=marks.get)
print("Topper:", topper)
print("Marks:", marks[topper])

Topper: D
Marks: 95