Types of Lists in python

In [ ]:
#Lists (use this for stuff you need to change or keep in order)
mylist =["cat", "dog", "mouse"]
print(mylist)

['cat', 'dog', 'mouse']

In [ ]:
#list length
mylist =["cat", "dog", "mouse"]
print(len(mylist))

3

In [ ]:
#A list with strings, integers and boolean values
mylist = ["cat", "dog", "mouse", 1, 2, 3, True, False]
print(mylist)

['cat', 'dog', 'mouse', 1, 2, 3, True, False]

In [ ]:
#Access items
mylist = ["cat", "dog", "mouse"]
print(mylist[2])

mouse

In [ ]:
#reverse/negative indexing
mylist = ["cat", "dog", "mouse"]
print(mylist[-1])

mouse

In [ ]:
#slicing
mylist = ["cat", "dog", "mouse","elephant", "lion","peacock"]
print(mylist[2:5])
print(mylist[-1:-4:-1])

['mouse', 'elephant', 'lion']
['peacock', 'lion', 'elephant']

In [ ]:
#Change item value
mylist = ["cat", "dog", "mouse"]
mylist[1]="human"
mylist[2]="67"
print(mylist)

['cat', 'human', '67']

In [ ]:
#Append items
mylist = ["cat", "dog", "mouse"]
mylist.append("human")
mylist.append("67")
print(mylist)

['cat', 'dog', 'mouse', 'human', '67']

In [ ]:
#Extend list
mylist = ["cat", "dog", "mouse"]
mylist.extend(["human", "67"])
print(mylist)

['cat', 'dog', 'mouse', 'human', '67']

In [ ]:
#Insert items
mylist = ["cat", "dog", "mouse"]
mylist.insert(1,"human")
print(mylist)

['cat', 'human', 'dog', 'mouse']

In [ ]:
#repetition
list= ('cat ')*10
print(list)
#finding item
67 in [3,2,4,5,6]

cat cat cat cat cat cat cat cat cat cat

False

In [ ]:
#Slicing examples
numbers =[10,20,30,40,50]
print(numbers[1:4])
print(numbers[0:3])
print(numbers[2:5])
print(numbers)

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
#Student Marks Management System
Student_Marks = [88,78,97,43,45,8,19,67,12,3]
print(Student_Marks)
highest = max(Student_Marks)
print(highest)
lowest = min(Student_Marks)
print(lowest)
Student_Marks.sort()
print(Student_Marks)
Student_Marks.sort(reverse=True)
print(Student_Marks)

[88, 78, 97, 43, 45, 8, 19, 67, 12, 3]
97
3
[3, 8, 12, 19, 43, 45, 67, 78, 88, 97]
[97, 88, 78, 67, 45, 43, 19, 12, 8, 3]

In [11]:
#2. Grocery Shopping List
Grocery_List = ["potato", "tomato", "rice", "ghee", "oil", "eggs", "salt", "sugar"]
print(Grocery_List)
Grocery_List.append("chicken")
print(Grocery_List)
Grocery_List.remove("salt")
print(Grocery_List)

['potato', 'tomato', 'rice', 'ghee', 'oil', 'eggs', 'salt', 'sugar']
['potato', 'tomato', 'rice', 'ghee', 'oil', 'eggs', 'salt', 'sugar', 'chicken']
['potato', 'tomato', 'rice', 'ghee', 'oil', 'eggs', 'sugar', 'chicken']

In [13]:
#3. A person stors phon contacts in a list
Contact_List = ["joe","albert","epstien","steve","ramesh","suresh"]
print(Contact_List)
Contact_List.append("arjit")
print(Contact_List)
Contact_List.sort()
print(Contact_List)

['joe', 'albert', 'epstien', 'steve', 'ramesh', 'suresh']
['joe', 'albert', 'epstien', 'steve', 'ramesh', 'suresh', 'arjit']
['albert', 'arjit', 'epstien', 'joe', 'ramesh', 'steve', 'suresh']

In [31]:
#Temperature Analysis
Temperature =[22,32,24,25,26,28,10,7,6,5,5]
print(Temperature)
print(Temperature[0:5])
print(Temperature[-1:-6:-1])
print(min(Temperature))
print(max(Temperature))
print(sum(Temperature)/len(Temperature))

[22, 32, 24, 25, 26, 28, 10, 7, 6, 5, 5]
[22, 32, 24, 25, 26]
[5, 5, 6, 7, 10]
5
32
17.272727272727273
11